h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(134, 51, 51);
}
.mission{
    background-image: url('../../assets/mission.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.offer{
    background-image: url('../../assets/bg-about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.head1{
    color: rgb(134, 51, 51);
    font-weight: bolder;
}
p, li{
    font-size: medium;
    font-weight: 500;
    margin-top: 0.5rem;
}